@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('TTLakes-Bold.eot');
    src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/TTLakes-Bold.woff') format('woff'),
    url('TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'TT Lakes Regular';
    background-color: #F2F2F2;
}

.page {
    position: relative;
    max-width: 1120px;
    min-width: 319px;
    margin:auto;
    background-color: #F8F8F8;
}

.header {
    height: 88px;    
    display: flex;
    padding: 0 16px  0 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.header__left-group {
    width: 170px;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    justify-content: space-between;
}

.header__right-group {
    display: flex;
    flex-direction: flex-end;
    align-items: center;
    justify-content: space-between;

}

.header__button-menu,
.header__call,
.header__chat,
.header__profile,
.header__repair,
.header__check-status {
    width: 40px;
    height: 40px;
}

.button-left-menu,
.button-call,
.button-chat,
.button-profile,
.button-repair,
.button-check-status {
    border-radius: 50%;
    background-color: #FF3E79;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;   
}


.button-left-menu {
    order: -3;
    background-image: url(img/left-menu.svg);
}

.button-call {
    background-image: url(img/call.svg);
}

.button-chat {
    background-image: url(img/chat.svg);
}

.button-profile {
    background-image: url(img/profile.svg);
}

.button-repair {
    background-image: url(img/repair.svg);
}

.button-check-status {
    background-image: url(img/check-status.svg);
}

.header__divider,
.header__right-divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA;
}

.page-nav {
    margin-top: 24px;
    margin-right: -16px;
    display: flex;
    justify-content: flex-start;
}

.header__title,
.page-title {
    box-sizing: border-box;
    height: 40px;
    margin-top: 24px;
    font-family: 'TT Lakes Bold';
    font-size: 28px;
    text-align: start;
}

.header__decorative-element,
.main__decorative-element {
    position:absolute;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 2px;
}

.page-nav__item {
    box-sizing:border-box;
    height: 40px;
    margin-right: 16px;
    padding: 8px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    color:#7E7E82;
    text-decoration: none;
}

.page-nav__item:hover,
.page-nav__item:focus {
    padding: 6px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;

}

.fade-copy {
    position: absolute;
    top: 173px;
    right: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.company-description {
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;

}

.company-description__text {
    width: 320px;
    flex-grow: 1; 
    font-size: 14px;
}

.button-read-more {
    width: 150px;
    height: 24px;
    margin-top: 16px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:nowrap;
    border: none;
    background-color: #F8F8F8;
    font-size: 16px;
    background-image: url('img/button-read-more__symbol.svg');
    background-repeat: no-repeat;
    background-position: 1% 50%;
}

.company-description__img {
    flex-grow: 1;   
}


@media (min-width: 322px){
    .header__divider{
        order:-2;
    }    
}


@media (max-width: 671.98px) {
    .header,
    .main {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header__right-group {
        width: 96px;
    }

    .company-description {
        margin-top: 24px;
    }

    .company-description__img {
        margin-top: 16px;
    }

    .header__call,
    .header__chat,
    .header__profile,
    .header__right-divider {
        display: none;
    }
}


@media (min-width: 671.99px) {
    .header,
    .main {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header__right-group {
        width: 314px;
    }

    .company-description__img {
        margin-left: 35px;
        border-radius: 6px;
    }
    .company-description {
        margin-top: 32px;
    }
}


@media (max-width: 1022.97px) {
    .page-nav {
        height: 40px;
        overflow: scroll;
        align-content: center; 
    } 

    .page-nav::-webkit-scrollbar {
        height: 0;
      }  

    .header__title,
    .header__decorative-element,
    .header__repair-text,
    .header__check-status-text {
        display: none;
    }

    .main__decorative-element {
        top: 110px;
        left: 0;
    }

    .main__decorative-element {
        border-radius: 0 4px 4px 0;
    }

    .header__button-description {
        display: none;
    }
}


@media (min-width: 1022.97px) {
    .header,
    .main {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header__left-group {
        position: relative;
        width: max-content;
        align-content:center;
    }

    .page-nav {
        flex-wrap: wrap;
        height: auto;
        align-content: space-around;
    }

    .header {
        background-color: #F8F8F8;
    }

    .page-title {
        display: none;
    }
    .header__button-menu,
    .header__logo,
    .header__divider,
    .header__call,
    .header__chat,
    .header__profile,
    .header__right-divider,
    .main__decorative-element {
        display: none;
    }

    .header__right-group {
        width: max-content;
    }

    .header__decorative-element {
        left: -32px;
        top: 22px;
    }


    
    .header__button-description {
        white-space: nowrap;
        font-family: 'TT Lakes Regular';
        font-size: 16px;
        margin-left: 32px;
    }
    .header__repair,
    .header__check-status {
        margin-left: 8px;
    }
    .company-description {
        margin-top: 20px;
    }
}
